@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=Staatliches&display=swap");

body,
.vex.vex-theme-top .vex-content {
  font-family: "Source Sans Pro";
  text-align: center;
}

div.vex-dialog-buttons {
  display: none;
}

.logo {
  height: 1.1em;
  position: relative;
  top: 0.15em;
}

main {
  position: relative;
  top: 9vw;
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #444;
}

strong {
  background-color: #444;
  color: white;
  padding: 0.3em;
  border-radius: 0.2em;
}

nav {
  width: 100vw;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 0px;
  font-family: Staatliches;
  z-index: 1;
}

ul {
  list-style-type: none;
  line-height: 2em;
  padding: 0;
}

ul li {
  padding: 0.3em 0;
}

footer {
  font-size: 1.3em;
}

.title {
  letter-spacing: 0.1em;
  width: 100%;
  background: #3982d1;
  color: #161616;
  vertical-align: center;
  font-size: 3.8vw;
  font-weight: bold;
  text-transform: uppercase;
}

.subtitle {
  font-size: 2.5vw;
  width: 100%;
  background: white;
  color: #464646;
  border-bottom: 1px solid black;
  padding: 0.1em 0;
}

div.subtitle div {
  position: relative;
  top: 0.3em;
}

a.name {
  text-decoration: none;
  color: #444;
}

.subtitle:hover {
  background: #80bde6;
}

img {
  max-width: 100%;
}

.caption {
  font-style: italic;
  font-size: 0.9em;
  width: 80%;
}

footer {
  background-color: #e5e3e6;
  width: 100%;
}

ol li {
  list-style-type: none;
  font-size: 0.8em;
}

ol {
  margin: 0;
  padding: 0;
}

.vex.vex-theme-top .vex-dialog-form div.vex-dialog-message {
  margin: 0;
}

q {
  font-style: italic;
}

q.no-quote {
  font-style: normal;
}

.name {
  background: #80bde6;
  padding: 0.2em;
}

q.quote {
  font-size: 1.2em;
}

div.quote {
  width: 80%;
  padding: 1.6em;
  font-size: 1.1em;
}

.vex.vex-theme-top .vex-dialog-form div.vex-dialog-input {
  margin-bottom: 0em;
}

.red {
  background-color: #c53027;
  color: white;
  padding: 0.2em;
}

@media (min-width: 768px) {
  main {
    top: 7vw;
  }

  .tribute-info {
    width: 70%;
  }

  img {
    max-width: 80%;
  }

  .caption {
    max-width: 80%;
  }

  div.quote {
    width: 60%;
  }

  .title {
    font-size: 3vw;
  }

  .subtitle {
    font-size: 1.5vw;
  }
}
